[Unit]
Description=WebSocket Server
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/ec2-user/arch7210-fall2019/server/bin/server

[Install]
WantedBy=multi-user.target
